
body{
        margin: 0;
        padding: 0;
        font-family: "Mulish";
        font-size: 1rem;
}

/*defined fonts*/
@font-face {
        font-family: "Poppins Regular";
        src: url("../fonts/Poppins-Regular.ttf") format("truetype");
        font-stretch: normal;
        font-weight: normal;
        font-style: normal;
}
@font-face {
        font-family: "Poppins Semibold";
        src: url("../fonts/Poppins-SemiBold.ttf") format("truetype");
        font-stretch: normal;
        font-weight: normal;
        font-style: normal;
}
@font-face {
        font-family: "Poppins Bold";
        src: url("../fonts/Poppins-Bold.ttf") format("truetype");
        font-stretch: normal;
        font-weight: normal;
        font-style: normal;
}
@font-face {
        font-family: "Kaushan Script";
        src: url("../fonts/KaushanScript-Regular.ttf") format("truetype");
        font-stretch: normal;
        font-weight: normal;
        font-style: normal;
}
@font-face {
        font-family: "Mulish";
        src: url("../fonts/Mulish-Regular.ttf") format("truetype");
        font-stretch: normal;
        font-weight: normal;
        font-style: normal;
}
.poppins-regular{
        font-family: "Poppins Regular";
}
.poppins-semibold{
        font-family: "Poppins Semibold";
}
.poppins-bold{
        font-family: "Poppins Bold";
}
.kaushan-script{
        font-family: "Kaushan Script";
}
.mulish{
        font-family: 'Mulish';
}

/*----*/
a:focus, button:focus, .form-control:focus{
        outline: 0 !important;
        box-shadow: none !important;
}
section{
        padding: 100px 0;
}
.ls-1{
        letter-spacing: 1.5px;
}
p,li{
        color: #575757;
}

/*-- header --*/
header{
        z-index: 1;     
}
header .offcanvas {
        background: #0160d6db;
}
.offcanvas-body ul li a{
        opacity: 0.7;
        -webkit-transition: 0.2s ease-in;
        -moz-transition: 0.2s ease-in;
        -o-transition: 0.2s ease-in;
        transition: 0.2s ease-in;
}
.offcanvas-body ul li a:hover{
        opacity: 1;
}

/*-- hero images sec --*/
.hero-wrapper img{
        -webkit-transition: 0.5s ease-out;
        -moz-transition: 0.5s ease-out;
        -o-transition: 0.5s ease-out;
        transition: 0.5s ease-out;
}
.hero-wrapper:hover img{
        transform: scale(1.2) rotate(3deg);
}
.hero-content{
        bottom: 30px;
        left: 0;
        right: 0;
}

/*services icons sec*/
.icon-wrapper img{
        -webkit-transition: 0.2s ease-in;
        -moz-transition: 0.2s ease-in;
        -o-transition: 0.2s ease-in;
        transition: 0.2s ease-in;
        filter: grayscale(1); 
        opacity: 0.4;
}
.icon-wrapper:hover img{
        filter: grayscale(0);
        opacity: 1;
}

/*package sec*/
.price-package{
        left: 10px;
        background: rgba(255,255,255,0.8);
}
.package-desc button {
        padding: 0.75rem 1.85rem;
        border-color: #e5effb;
        background: #e5effb;
        color: #0160d6;
        -webkit-transition: 0.2s ease-in;
        -moz-transition: 0.2s ease-in;
        -o-transition: 0.2s ease-in;
        transition: 0.2s ease-in; 
}
.package-desc button:hover{
        color: #fff; 
        background: #0160d6;
}
.package-wrapper{
        -webkit-transition: 0.2s ease-in;
        -moz-transition: 0.2s ease-in;
        -o-transition: 0.2s ease-in;
        transition: 0.2s ease-in;   
}
.package-wrapper:hover{
        transform: translateY(-10px);
}

.packages-colored-strips > li {
        color: #fff;
        display: flex;
        flex: 1 0 0;
        justify-content: center;
        align-items: center;
        padding: 7px;
}
.packages-colored-strips {
        position: absolute;
        bottom: 0;
        margin: 0;
        left: 0;
        right: 0;
        display: flex;
}
.packages-colored-strips > li .dropdown-toggle:after{
        content: normal;
}
.green-strip-list.packages-colored-strips > li{
        background: #077b03e6;
}
.red-strip-list.packages-colored-strips > li{
        background: #b30404e0;
}
.cyan-strip-list.packages-colored-strips > li{
        background: #03b8a3d4;
}

/*video sec*/
.video-sec{
        background: url('../img/video-bg.jpg') no-repeat;
        background-size: cover;
}
.video-iframe{
        top: 30px;
}

/*blog sec*/
.blog-list img{
        width: 130px;
        height: 130px;
        object-fit: cover;
}

/*footer*/
.social-media-sec li a{
        -webkit-transition: 0.2s ease-in;
        -moz-transition: 0.2s ease-in;
        -o-transition: 0.2s ease-in;
        transition: 0.2s ease-in;  
        opacity: 0.8; 
}
.social-media-sec li a:hover{
        opacity: 1;
}
.social-media-sec{
        background: #0a54b6;
}

/*single package page*/
.booking-form form input, .booking-form form textarea, .booking-form form select{
        padding-left: 40px;
        background: rgba(255,255,255,0.2);
        min-height: 50px;
        -webkit-transition: 0.2s ease-in;
        -moz-transition: 0.2s ease-in;
        -o-transition: 0.2s ease-in;
        transition: 0.2s ease-in; 
}
.booking-form form input:focus, .booking-form form textarea:focus, .booking-form form select:focus{
        background: rgba(255,255,255,0.3);
}
.booking-form form select option{
        color: #575757;
}
.booking-form form i{
        left: 15px;
}
.form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: #fff !important;
}
.form-control::-moz-placeholder { /* Firefox 19+ */
        color: #fff !important;
}
.form-control:-ms-input-placeholder { /* IE 10+ */
        color: #fff !important;
}
.form-control:-moz-placeholder { /* Firefox 18- */
        color: #fff !important;
}
div.nav.nav-tabs button{
        flex: 1 0 0;
        background: #f8f9fa;
        -webkit-transition: 0.2s ease-in;
        -moz-transition: 0.2s ease-in;
        -o-transition: 0.2s ease-in;
        transition: 0.2s ease-in;
        padding: 25px 15px;
        color: #878787;
}
div.nav.nav-tabs button.active{
        color: #333;
}
.desc-tab-content ul.nav.nav-tabs button {
        -webkit-transition: 0.2s ease-in;
        -moz-transition: 0.2s ease-in;
        -o-transition: 0.2s ease-in;
        transition: 0.2s ease-in;
        padding: 17px 20px;
        color: #878787;
}
.desc-tab-content ul.nav.nav-tabs button.active {
        background: #e3eefa6b;
        color: #0160d6;
}
.desc-tab-content .tab-content{
        background: #e3eefa6b;
}
#gallery-carousel img{
        height: 450px;
        object-fit: cover;
}
#program-accordion .accordion-item{
        border-radius: 0.5rem !important;
}
#program-accordion .accordion-button::after{
        height: 1rem;
        width: 1rem;
        background-size: contain;
}
#program-accordion .accordion-button{
        box-shadow: none;
}

.definitives-list li{
        flex: 1 0 0;
}


/*MEDIA QUERIES*/

@media(min-width: 992px){
        .mw-60{
                max-width: 60%;
        }
        .mw-80{
                max-width: 80%;
        }
        .package-tabs-wrapper {
                position: relative;
                top: -74px;
                box-shadow: 0 1rem 3rem rgb(0 0 0 / 8%);
        }
        .package-tabs-sec{
                padding: 0;
        }

}

@media(max-width: 991px){
        section{
                padding: 60px 0;
        }
}
@media(max-width: 767px){
        section{
                padding: 40px 0;
        }
}


